<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.8.5" targetFramework="net461" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net47" />
  <package id="SoundTouch.Net" version="1.9.2.2" targetFramework="net47" />
  <package id="SoundTouch.Net.NAudio" version="1.0.0" targetFramework="net47" />
</packages>