<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="DefaultEndpointBehavior">
                    <callbackDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <dataContractSerializer />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="DefaultNetBinding" receiveTimeout="24.20:31:23"
                    sendTimeout="24.20:31:23">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="DefaultServiceBehavior" name="RemotePlusServer.RemoteImpl">
                <endpoint address="net.tcp://0.0.0.0:9000/Remote" binding="netTcpBinding"
                    bindingConfiguration="DefaultNetBinding" name="DefaultEndpoint"
                    contract="RemotePlusLibrary.IRemote" />
            </service>
        </services>
    </system.serviceModel>
</configuration>