<?xml version="1.0" encoding="utf-8"?>
<ServerSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/RemotePlusLibrary.Configuration.ServerSettings">
  <BannedIPs xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
  <DiscoverySettings>
    <ConnectToBuiltInProxyServer>true</ConnectToBuiltInProxyServer>
    <Connection>
      <ProxyServerURL>net.tcp://localhost:8080/Proxy</ProxyServerURL>
    </Connection>
    <DiscoveryBehavior>Connect</DiscoveryBehavior>
    <Setup>
      <DiscoveryPort>9001</DiscoveryPort>
      <ProxyClientEndpointName>ProxyClient</ProxyClientEndpointName>
      <ProxyEndpointName>Proxy</ProxyEndpointName>
    </Setup>
  </DiscoverySettings>
  <EnableMetadataExchange>false</EnableMetadataExchange>
  <LoggingSettings xmlns:d2p1="http://schemas.datacontract.org/2004/07/RemotePlusLibrary.Configuration">
    <d2p1:CleanLogFolder>false</d2p1:CleanLogFolder>
    <d2p1:DateDelimiter>45</d2p1:DateDelimiter>
    <d2p1:LogFileCountThreashold>10</d2p1:LogFileCountThreashold>
    <d2p1:LogFolder>ServerLogs</d2p1:LogFolder>
    <d2p1:LogOnShutdown>true</d2p1:LogOnShutdown>
    <d2p1:TimeDelimiter>45</d2p1:TimeDelimiter>
  </LoggingSettings>
  <PortNumber>9000</PortNumber>
  <UseDefaultUserIfNoneExists>true</UseDefaultUserIfNoneExists>
</ServerSettings>