<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="DefaultNetBinding" receiveTimeout="24.20:31:23"
                    sendTimeout="24.20:31:23">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://0.0.0.0:9000/Remote" binding="netTcpBinding"
                bindingConfiguration="DefaultNetBinding" contract="RemotePlusLibrary.IRemote"
                name="DefaultEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>
