<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemotePlusServer.GlobalServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RemotePlusServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemotePlusServer.GlobalServerSettings>
            <setting name="ServerSettings" serializeAs="String">
                <value>init</value>
            </setting>
        </RemotePlusServer.GlobalServerSettings>
        <RemotePlusServer.Properties.Settings>
            <setting name="ServerSettings" serializeAs="String">
                <value>init</value>
            </setting>
        </RemotePlusServer.Properties.Settings>
    </userSettings>
</configuration>