<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\gamec\Source\Repos\RemotePlus_GitHub\RemotePlus\src\RemotePlusClientCmd\bin\Trace\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\gamec\Source\Repos\RemotePlus_GitHub\RemotePlus\src\RemotePlusClientCmd\bin\Trace\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="defaultEndpointBehavior">
                    <callbackDebug includeExceptionDetailInFaults="true" />
                    <dataContractSerializer />
                    <callbackTimeouts transactionTimeout="24.00:00:00" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <netTcpBinding>
                <binding name="DefaultNetBinding" receiveTimeout="24.20:31:23"
                    sendTimeout="24.20:31:23" maxBufferPoolSize="9223372036854775807"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://0.0.0.0:9000/Remote" behaviorConfiguration="defaultEndpointBehavior"
                binding="netTcpBinding" bindingConfiguration="DefaultNetBinding"
                contract="RemotePlusLibrary.IRemote" name="DefaultEndpoint"
                kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>